<!-- <app-child>
  <p>hello from root</p>
  <h3 question>is ng-context cool?</h3>
  <h3 answer>yes</h3>
  <h1>{{showText}}</h1>
</app-child> -->

<button (click)="toggleText($event)">toggle text</button>
<h1>{{showText}}</h1>
{{todayDate | date}}

{{'Suraj' | greetingsPipe}}

<img [src]="itemImageUrl">

<button (click)="saveMe()">bind event</button>

<input #phone type="text" placeholder="Phone number">

<button (click)="callPhone(phone.value)">check phone</button>

<div [ngStyle]="currentStyle">Example</div>

<label for="example">{{name}}</label>
<input type="text" [(ngModel)]="name" id="example">

<p [appHighlight]="'red'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto blanditiis ullam, consectetur quia cumque aspernatur incidunt ex quam. Modi, ab.</p>

<div *ngIf="isActive">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, quidem!</div>

<div *ngFor="let item of items">{{item.name}}</div>


<a routerLink="/child/23">Child</a>
<a routerLink="/parent">Parent</a>

<p>{{model | json}}</p>
<form #petForm="ngForm" (ngSubmit)="onSubmit()">
  <!-- <div>
    <label for="name"></label>
    <input type="text" id="name" required [(ngModel)]="model.name" name="name" >
  </div> -->
  <div>
    <label for="specie">Specie</label>
    <select id="specie" required>
      <option *ngFor="let specie of species" [value]="specie">{{specie}}</option>
    </select>
  </div>
  <button [disabled]="!petForm.form.valid" type="submit">Submit</button>
</form>



<div>
  <label for="greet">Greet: </label>
  <input type="text" id="greet" [formControl]="greet">
  <p>Value: {{greet.value}}</p>
  <button (click)="updateName()">Update greet</button>
</div>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit2()">
  <label for="first-name">First Name: </label>
  <input type="text" id="first-name" formControlName="firstName">
  <label for="last-name">Last Name: </label>
  <input type="text" id="last-name" formControlName="lastName">
  <button type="submit">Submit</button>
  <p>{{profileForm.value.firstName}}</p>
</form>


<div>
  <div *ngFor="let user of fakeUsers">{{user.name}}</div>
</div>

<router-outlet></router-outlet>

<!-- <app-sizer [(size)]="fontSizepx"></app-sizer>
<div [style.font-size.px]="fontSizepx">Resizeable text</div> -->